/** add breakpoints for when it becomes mobile/tablet and it collapses 
  * into the three bars **/
nav .container{
  /* layout */
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap:wrap;
  @include horizontal-list;
  height: 5em;
  padding-top: 3em;
}

nav {
  li a {
    @include reset-link;
    color: $primary-dark-grey-100; 
    @include hover-underline($primary-dark-grey-30);
  }
}

.activeNav {
  text-shadow:  0 0px $primary-dark-grey-30, 0 0 0.7px $primary-dark-grey-30;
  transform: none;
  color: $primary-dark-grey-30;
  &::after{
    transform: scaleX(1);
  }
}

// @media (min-width:320px) {
//   /*collapsing menu*/
// }