/* Import SCSS partials */
/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  background-color: rgb(250, 250, 250);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.page-transition {
  animation: fadeInUp ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* may edit later into a customizable grid mixin */
.container {
  width: 80%;
  max-width: 80em;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.inner-introduction {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.inner-introduction .left, .inner-introduction .text-contain {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.horizontal {
  flex-direction: horizontal;
}

.vertical {
  flex-direction: column;
}

.top-align {
  align-items: flex-start;
}

.no-wrap {
  text-wrap: nowrap;
}

.grid {
  display: grid;
  margin: 0 auto;
  justify-content: center;
}

.width-1\/12 {
  grid-column: span 1;
}

.width-2\/12 {
  grid-column: span 2;
}

.width-3\/12 {
  grid-column: span 3;
}

.width-4\/12 {
  grid-column: span 4;
}

.width-5\/12 {
  grid-column: span 5;
}

.width-6\/12 {
  grid-column: span 6;
}

.width-7\/12 {
  grid-column: span 7;
}

.width-8\/12 {
  grid-column: span 8;
}

.width-9\/12 {
  grid-column: span 9;
}

.width-10\/12 {
  grid-column: span 10;
}

.width-11\/12 {
  grid-column: span 11;
}

.width-12\/12 {
  grid-column: span 12;
}

.divider {
  border-top: 1.5px solid rgba(123, 122, 117, 0.5);
  width: 40%;
}

.container.introduction, .container.projects {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

ol, ul {
  display: flex;
  gap: 1.125rem;
  flex-direction: column;
}
ol li, ul li {
  line-height: 1.5rem;
}

.overview p, .descr-contain p {
  margin-bottom: 1rem;
}

.descr-contain {
  margin-bottom: 2em;
}

.left .descr-contain {
  margin-bottom: 1rem;
}

body {
  width: 100vw;
  min-height: 100vh;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/**
 * Colors
 * ----------------------------------------------------------------------------
 * This file defines the color palette used in the project. Modify these
 * variables to customize the colors according to your design requirements.
 */
/* Primary Colors */
/* Secondary Colors */
/* Light Colors */
/* Accent Colors */
/**
 * Fonts
 * ----------------------------------------------------------------------------
 * This file defines the font families, sizes, and other typography-related styles.
 * Modify these variables to customize the fonts used in the project.
 */
/* External Font Import */
/* Font Family */
/* In the _typography.scss file, you generally define the font families to be used 
 * throughout your application and their associated font sizes, line heights, and other 
 * typographic styles. However, you do not directly import the font files (e.g., .woff, 
 * .woff2, .ttf, etc.) into this file. */
/* Font Sizes */
/* Font Weights */
/* Font Style */
/* Line Heights */
/* Typography Usage */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #3b3b3b;
}

/* Headings */
h1, h2 {
  color: rgb(106, 95, 101);
}

h1, h5 {
  font-weight: 500;
}

h2, h3 {
  font-size: 1.875rem;
}

h2, h3, h4 {
  line-height: normal;
}

h1 {
  font-size: 3.125rem;
  line-height: 122%;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-style: italic;
  color: white;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 400;
}

/* Paragraphs */
p {
  font-size: 1rem;
  line-height: 180%;
}

#accent-paragraph {
  font-weight: 500;
  color: #A6978B;
}

p.small-paragraph {
  font-size: 0.875rem;
}

/* Links */
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
a:default, a:hover, a:active, a:after, a:visited {
  color: inherit;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title .description .small-paragraph {
  color: rgba(51, 51, 51, 0.5);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  transform: none;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* Import component-specific styles */
.not-found-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 0.5em;
}/*# sourceMappingURL=NotFound.css.map */